<div class="footer">
  <div class="container">
    <a href="https://instagram.com/uman_nation?utm_medium=copy_link" target="_blank" class="text"><i class="fa-brands fa-instagram"></i></a>
    <div class="text">UMAN.</div>
  </div>
</div>
