.card-prod img{
  max-width: 27vw;
  height: 70vh;
  object-fit: cover;
}

.card-prod {
  max-width: 25vw;
}

.card-text {
  text-align: center;
  margin-top: 2vh;
}

.card-container {
  display:flex;
  justify-content: space-between;
  padding: 5vw;
}
