.footer {
  background: $black;
  width: 100%;
  padding: 2vh;
  margin-bottom: -50%;
}

.footer .text {
  color: $white;
  text-align: center;
  font-size: 5rem
}

.footer .container {
  vertical-align: center;
  margin-top: 5vh;
  margin-bottom: 5vh;
  text-align: center;

}
