.navbar-lewagon {
  transition: 0.7s;
  justify-content: space-between;
  background: #2020201c;
  position: fixed;
  top: 0px;
  width: 100%;
}



.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbr_user {
  color: $white;
  text-decoration: none;
  margin-left: 28px;
}

.navbar-lewagon .container {
  justify-content: space-between;
  width: 25%;
  display: flex;
  color: $white;
}

.navbar-lewagon .navbar-brand img {
  width: 65px;
  margin-top: -5px;
  margin-bottom: -10px;
}

.special{
  transition: 0.7s;
  background: #202020ee;
}

.navbar-lewagon .link {
  position: relative;
  color: $white;
  text-decoration: none;
  padding: 5px;
}


.link::after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #ddd;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.link:hover::after {
  width: 100%;
  left: 0;
}
